.top-bar {
  position: absolute;
  width: 100%;
}

.top-bar ul {
  margin: 0 auto;
  width: 693px;
}

.top-bar li {
  display: inline-block;
  padding: 27px;
}

.top-bar li:hover {
  color: red;
}

.hero img {
  width: 100%;
}
