/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face { font-family: PT_Sans; src: url('font/PT_Sans-Web-Regular.ttf'); }

h1 {
  font-family: PT_Sans;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

p {
  font-family: PT_Sans;
  font-size: 10px;
  letter-spacing: 0.25px;
  text-align: center;
  color: darkgrey;
  line-height: 22px;
  margin: auto;
  width: 68%;
  position: relative;
  padding: 20px;
}
.top-bar {
  margin-top: 23px;
  position: absolute;
  width: 100%;
}

.top-bar ul {
  width: 433px;
  margin: 0 auto;
  list-style: none;
}

.top-bar li {
  font-family: PT_Sans;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0px 20px;
  float: left;
  position: relative;
  top: 27px;
  transform: translateY(-48%);

}
.top-bar li a{
  text-decoration: none;
  color: black;
}

.top-bar li:hover {
  color: red;
}

.top-bar li img {
  width: 60px;
}
.hero img{
  width: 100%;
}
.chains img{
  margin: auto;
  padding-top: 72px;
  padding-bottom: 20px;
  display: block;
  width: 34px;
}
